.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button--slider {
    height: 0.75rem;
    width: 0.75rem;
}

.button {
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 50%;
    box-shadow: 3px 3px 5px black;
    margin: 0.5rem;
}

.button--back {
    position: absolute;
    left: 0;
}

.button--forward {
    position: absolute;
    right: 0;
}

.main--container {
    flex-direction: column;
    width: 99vw;
    justify-content: center;
    align-items: center;
}

.video {
    width: 70vw;
}
.selected {
    border: 2px solid yellow;
}

.thumbnail {
    height: 4rem;
    width: 7rem;
    margin-right: 0.75rem;
}

.thumbnail--container {
    position: relative;
    width: 70vw;
    flex-wrap: nowrap;
    overflow: hidden;
}