.container {
    display: flex;
}

.main--container {
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.video {
    width: 70vw;
}

.thumbnail {
    height: 4rem;
    width: 7rem;
    margin-right: 0.75rem;
}

.thumbnail--container {
    width: 70vw;
    flex-wrap: nowrap;
    overflow: hidden;
}